<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.springnews.bbs.mapper.MemberMapper">



	<select id="memberPassCheck" resultType="String">
		SELECT pass FROM member WHERE id = #{id}
	</select>
	
	<update id="updateMember" parameterType="Member">
		UPDATE member
			SET pass=#{pass}, email=#{email}, mobile=#{mobile}, zipcode=#{zipcode},
				address1=#{address1}, address2=#{address2}, reg_date=SYSDATE()
		WHERE id = #{id}		
	</update>


	<insert id="addMember" parameterType="Member">
		INSERT INTO member
		VALUES(#{id}, #{name}, #{pass}, #{email}, #{mobile}, 
				#{zipcode}, #{address1}, #{address2}, SYSDATE() )
	</insert>

	<select id="getMember" resultType="Member">
		SELECT * FROM member WHERE id = #{id}
	</select>
</mapper>	